* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active-item {
  color: #96c471 !important;
  text-decoration: underline;
}

.title-page {
  font-family: "Dosis", sans-serif;
  color: #96c471;
}

.container .my-card {
  margin-top: 20px;
}
.container .my-card .card-title {
  color: #96c471;
}